In [1]:
import geocoder
import pandas as pd
from utilidades.spell_checking import obtener_correccion

In [2]:
train = pd.read_csv("../data/train.csv")

In [4]:
test = pd.read_csv("../data/test.csv")

In [6]:
g = geocoder.geonames("Ciudad del maiz", key='komod0', country="MX", featureClass="P")

In [ ]:
g.json["raw"]["lat"],g.json["raw"]["lng"]

In [11]:
ciudades_corregidas = {}

for ciudad in train["ciudad"].dropna().unique():
    correccion = obtener_correccion(ciudad)
    ciudades_corregidas[ciudad] = correccion

In [12]:
ciudades_corregidas_t = {}

for ciudad in test["ciudad"].dropna().unique():
    correccion = obtener_correccion(ciudad)
    ciudades_corregidas_t[ciudad] = correccion

In [13]:
latitudes = {}
longitudes = {}

for ciudad in ciudades_corregidas:
    g = geocoder.geonames(ciudades_corregidas[ciudad], key='komod0', country="MX", featureClass="P")
    if g.json is not None:
        latitudes[ciudad] = g.json["raw"]["lat"]
        longitudes[ciudad] = g.json["raw"]["lng"]
    else:
        latitudes[ciudad] = 0
        longitudes[ciudad] = 0

Status code Unknown from http://api.geonames.org/searchJSON: ERROR - HTTPConnectionPool(host='api.geonames.org', port=80): Read timed out. (read timeout=5.0)

In [14]:
latitudes_t = {}
longitudes_t = {}

for ciudad in ciudades_corregidas_t:
    g = geocoder.geonames(ciudades_corregidas_t[ciudad], key='komod0', country="MX", featureClass="P")
    if g.json is not None:
        latitudes_t[ciudad] = g.json["raw"]["lat"]
        longitudes_t[ciudad] = g.json["raw"]["lng"]
    else:
        latitudes_t[ciudad] = 0
        longitudes_t[ciudad] = 0

Status code Unknown from http://api.geonames.org/searchJSON: ERROR - HTTPConnectionPool(host='api.geonames.org', port=80): Read timed out. (read timeout=5.0)

In [15]:
a = {"ciudad": list(latitudes.keys()), "latitud": list(latitudes.values()), "longitud": list(longitudes.values())}
df_coords = pd.DataFrame(a)

In [17]:
a_t = {"ciudad": list(latitudes_t.keys()), "latitud": list(latitudes_t.values()), "longitud": list(longitudes_t.values())}
df_coords_t = pd.DataFrame(a_t)

In [18]:
df_coords[(df_coords["latitud"] == 0 ) & (df_coords["longitud"] == 0)]

           ciudad latitud longitud
227      Coatepec       0        0
499    Dr. Arroyo       0        0
720  Dr. González       0        0
866   Gral. Bravo       0        0

In [22]:
df_coords.loc[227, "latitud"] = 19.45229
df_coords.loc[227, "longitud"] = -96.96148

In [23]:
df_coords.loc[499, "latitud"] = 23.67211
df_coords.loc[499, "longitud"] = -100.18134

In [24]:
df_coords.loc[720, "latitud"] = 25.84081
df_coords.loc[720, "longitud"] = -99.83125

In [25]:
df_coords.loc[866, "latitud"] = 25.79239
df_coords.loc[866, "longitud"] = -99.18147

In [19]:
df_coords_t[(df_coords_t["latitud"] == 0 ) & (df_coords_t["longitud"] == 0)]

                 ciudad latitud longitud
337  San Luis de la Paz       0        0
477          Dr. Arroyo       0        0

In [29]:
df_coords_t.loc[477, "latitud"] = 23.67211
df_coords_t.loc[477, "longitud"] = -100.18134

In [30]:
df_coords_t.loc[337, "latitud"] = 21.36295
df_coords_t.loc[337, "longitud"] = -100.49726

In [34]:
df_coords.to_csv("../data/coordenadas_de_cada_ciudad.csv", index=False)

In [35]:
df_coords_t.to_csv("../data/coordenadas_de_cada_ciudad_en_el_test.csv", index=False)