In [1]:
import numpy as np
import pandas as pd

from IPython.display import clear_output
from geopy.geocoders import Nominatim

In [4]:
test = pd.read_csv('../data/aux_minus_bad_coord_test.csv')

##### Se rellenan las ciudades para coordenadas válidadas. Primero se ubican estos casos.

In [5]:
indice = test.loc[(test['ciudad'].isnull()) & (~test['lat'].isnull())].index
test.loc[indice, :]

      ciudad         provincia        lat         lng
2002     NaN   San luis Potosí  22.174800 -101.044000
4607     NaN               NaN  19.361159  -99.170720
5381     NaN               NaN  19.417707  -99.261754
9360     NaN               NaN  22.136035 -101.018418
9389     NaN          Veracruz  22.201100  -97.847000
9984     NaN   San luis Potosí  22.158500 -101.051000
11086    NaN  Distrito Federal  19.432400  -99.208900
12137    NaN  Distrito Federal  19.322348  -99.130562
12294    NaN           Jalisco  20.524400 -103.359000
13655    NaN               NaN  20.543195 -100.402744
14057    NaN   San luis Potosí  22.128998 -101.018311
14457    NaN   San luis Potosí  20.716079 -100.442355
17117    NaN               NaN  19.374100  -99.188300
17332    NaN           Jalisco  20.769500 -103.338000
22450    NaN               NaN  20.570801 -100.389977
24441    NaN               NaN  20.653025 -100.347404
25774    NaN        Tamaulipas  22.283300  -97.876300
27709    NaN  Distrito Federal  19.363300  -99.230300
28426    NaN           Jalisco  20.666300 -103.236000
36675    NaN               NaN  20.619751 -100.405812
37602    NaN           Jalisco  20.624700 -103.417000
42488    NaN               NaN  19.381975  -99.140665
44300    NaN   San luis Potosí  22.114700 -100.895000
46981    NaN   San luis Potosí  22.198102 -100.957770
47228    NaN               NaN  20.625474 -100.454221
47975    NaN   San luis Potosí  22.130900 -100.963000
48858    NaN    Edo. de México  19.499700  -99.244500
50572    NaN               NaN  20.548741 -100.348864
51720    NaN   San luis Potosí  22.143488 -101.026905
58495    NaN   San luis Potosí  22.162400 -100.958000
59385    NaN           Jalisco  20.671100 -103.410000
59552    NaN           Jalisco  20.611295 -103.370870

In [6]:
geolocator = Nominatim(user_agent="my-application")

In [8]:
%%time
ini = 0
fin = indice.size
i=1
for index in indice[ini:fin] :
    clear_output(wait=True)
    location = geolocator.reverse(str(test.loc[index, 'lat'])+','+str(test.loc[index, 'lng']))
    diccionario = location.raw['address']
    data = diccionario.get("city", np.NaN)
    test.loc[index, 'ciudad'] = data
    print(i, 'de', fin - ini)
    i = i + 1

32 de 32
CPU times: user 403 ms, sys: 19.7 ms, total: 422 ms
Wall time: 35.7 s

##### Aquí se ubica el primer índice que no completa ciudad, luego de una excepción.

In [9]:
test.loc[(test['ciudad'].isnull()) & (~test['lat'].isnull())].head(3)

      ciudad provincia        lat        lng
4607     NaN       NaN  19.361159  -99.17072
9389     NaN  Veracruz  22.201100  -97.84700
12294    NaN   Jalisco  20.524400 -103.35900

In [11]:
test.loc[(test['ciudad'].isnull()) & (~test['lat'].isnull())].shape

(12, 4)

##### Faltan llenar 12 casos. Se hace manualmente.

In [13]:
test.loc[indice, :].isnull().sum()

ciudad       12
provincia    11
lat           0
lng           0
dtype: int64

##### Cuando sale un error por acceso a índice en 0, quiere decir que se terminó la busqueda con las condiciones pedidas.

In [48]:
display(test.loc[(test['ciudad'].isnull()) & (~test['lat'].isnull())].head(1))
indice_aux = test.loc[(test['ciudad'].isnull()) & (~test['lat'].isnull())].index[0]

print('Copiar las siguientes coordendas:')
print(str(test.loc[indice_aux, 'lat'])+','+str(test.loc[indice_aux, 'lng']))

Empty DataFrame
Columns: [ciudad, provincia, lat, lng]
Index: []

IndexError: index 0 is out of bounds for axis 0 with size 0

In [47]:
test.loc[indice_aux, 'ciudad'] = 'Huimilpan'
test.loc[indice_aux, :]

ciudad       Huimilpan
provincia          NaN
lat            20.5487
lng           -100.349
Name: 50572, dtype: object

# Para chequear las ciudades que ya están en el DataFrame

In [19]:
ciudades = test['ciudad'].unique()

In [46]:
'Huimilpan' in ciudades

True

### Ciudades comunes

- Álvaro Obregón
- Benito Juárez
- Tlajomulco de Zúñiga (Jalisco: Palomar, San Agustín, Valle Dorado)
- Melchor Ocampo
- Naucalpan de Juárez (Estado de México)
- Santiago de Querétaro
- Querétaro
- Coatepec
- Villa de Zaachila (Fraccionamiento Real del Valle)
- San Luis Potosí
- Santa María del Oro
- Tultitlán (Fuentes del Valle)
- Tlalpan
- Boca del Río
- Corregidora (Fraccionamiento Vista Real)
- Colón (Querétaro)
- Atizapán de Zaragoza (Estado de México)
- El Marqués (Querétaro)
- Centro (Ciudad de México, Villa Verdún)
- Zapopan (Jalisco, Santa Ana Tepetitlán)
- Soledad de Graciano Sánchez (San Luis Potosí)
- Villahermosa (Tabasco)
- Cuautlancingo (Puebla)
- Venustiano Carranza (Ciudad de México)
- San Pedro Mixtepec (Oaxaca, La Alejandría)
- Zihuatanejo de Azueta
- Cuernavaca
- Tlalnepantla de Baz
- Coyoacán
- Anáhuac (nueva ciudad)
- Tonalá (Jalisco)
- Huimilpan (Fraccionamiento Cumbres del Cimatario)

##### Se chequean casos nulos para las condiciones anteriores.

In [50]:
test.loc[(test['ciudad'].isnull()) & (~test['lat'].isnull())].shape

(0, 4)

##### Ya todas las coordenadas válidas tienen ciudades.

In [54]:
test.isnull().sum()

ciudad          51
provincia       42
lat          30840
lng          30840
dtype: int64

# Ahora hay que rellenar las provincias faltanes para coordenadas válidas

In [55]:
test.loc[(test['provincia'].isnull()) & (~test['lat'].isnull())].shape

(11, 4)

In [56]:
indice2 = test.loc[(test['provincia'].isnull()) & (~test['lat'].isnull())].index
test.loc[indice2, :].shape

(11, 4)

# Son 11 provincias

In [57]:
%%time
ini = 0
fin = indice2.size
i=1
for index in indice[ini:fin] :
    clear_output(wait=True)
    location = geolocator.reverse(str(test.loc[index, 'lat'])+','+str(test.loc[index, 'lng']))
    diccionario = location.raw['address']
    data = diccionario.get("state", np.NaN)
    test.loc[index, 'provincia'] = data
    print(i, 'de', fin - ini)
    i = i + 1

11 de 11
CPU times: user 108 ms, sys: 11.1 ms, total: 119 ms
Wall time: 13.1 s

In [59]:
test.loc[(test['provincia'].isnull()) & (~test['lat'].isnull())].shape

(7, 4)

# Quedan 7 Provincias, se completan manualmente

In [61]:
indice3 = test.loc[(test['provincia'].isnull()) & (~test['lat'].isnull())].index
indice3.size

7

##### Cuando sale un error por acceso a índice en 0, quiere decir que se terminó la busqueda con las condiciones pedidas.

In [76]:
display(test.loc[(test['provincia'].isnull()) & (~test['lat'].isnull())].head(1))
indice_aux = test.loc[(test['provincia'].isnull()) & (~test['lat'].isnull())].index[0]

print('Copiar las siguientes coordendas:')
print(str(test.loc[indice_aux, 'lat'])+','+str(test.loc[indice_aux, 'lng']))

Empty DataFrame
Columns: [ciudad, provincia, lat, lng]
Index: []

IndexError: index 0 is out of bounds for axis 0 with size 0

In [75]:
test.loc[indice_aux, 'provincia'] = 'Querétaro'
test.loc[indice_aux, :]

ciudad       Huimilpan
provincia    Querétaro
lat            20.5487
lng           -100.349
Name: 50572, dtype: object

### Para chequear las provincias que ya están en el DataFrame

In [244]:
provincias = train['provincia'].unique()

In [281]:
'Edo. de México' in provincias

True

### Provincias comunes

- Querétaro
- San Luis Potosí
- Ciudad de México

In [77]:
test.isnull().sum()

ciudad          51
provincia       31
lat          30840
lng          30840
dtype: int64

Se verifican las provincias

In [87]:
test['provincia'].value_counts()

Distrito Federal                   14743
Edo. de México                     10200
Jalisco                             5321
Querétaro                           4331
Nuevo León                          3971
Puebla                              2482
San luis Potosí                     2077
Yucatán                             2022
Morelos                             1859
Veracruz                            1439
Quintana Roo                        1200
Chihuahua                           1144
Coahuila                             878
Baja California Norte                819
Sonora                               740
Guerrero                             719
Michoacán                            685
Guanajuato                           680
Hidalgo                              605
Tamaulipas                           550
Durango                              514
Sinaloa                              491
Aguascalientes                       441
Baja California Sur                  439
Nayarit                              368
Chiapas                              263
Tabasco                              254
Colima                               240
Tlaxcala                             205
Oaxaca                               193
Campeche                              53
Zacatecas                             32
Ciudad de México                       5
San Luis Potosí                        4
Estado de México                       1
Veracruz de Ignacio de la Llave        1
Name: provincia, dtype: int64

##### Se realizan alguno cambios en los nombres de las provincias.
- Distrito Federal $\rightarrow$ Ciudad de México
- San luis Potosí $\rightarrow$ San Luis Potosí
- Edo. de México $\rightarrow$ Estado de México
- Veracruz de Ignacio de la Llave $\rightarrow$ Veracruz

In [88]:
diccionario = {
    'Distrito Federal':'Ciudad de México',
    'San luis Potosí':'San Luis Potosí',
    'Edo. de México':'Estado de México',
    'Veracruz de Ignacio de la Llave':'Veracruz'
}
diccionario

{'Distrito Federal': 'Ciudad de México',
 'San luis Potosí': 'San Luis Potosí',
 'Edo. de México': 'Estado de México',
 'Veracruz de Ignacio de la Llave': 'Veracruz'}

In [89]:
test['provincia'].replace(diccionario, inplace=True)

In [90]:
test['provincia'].value_counts()

Ciudad de México         14748
Estado de México         10201
Jalisco                   5321
Querétaro                 4331
Nuevo León                3971
Puebla                    2482
San Luis Potosí           2081
Yucatán                   2022
Morelos                   1859
Veracruz                  1440
Quintana Roo              1200
Chihuahua                 1144
Coahuila                   878
Baja California Norte      819
Sonora                     740
Guerrero                   719
Michoacán                  685
Guanajuato                 680
Hidalgo                    605
Tamaulipas                 550
Durango                    514
Sinaloa                    491
Aguascalientes             441
Baja California Sur        439
Nayarit                    368
Chiapas                    263
Tabasco                    254
Colima                     240
Tlaxcala                   205
Oaxaca                     193
Campeche                    53
Zacatecas                   32
Name: provincia, dtype: int64

##### Son 31 estados y la Ciudad de México, más los NaN, tendría que haber 33 valores únicos.

In [92]:
print(test['provincia'].unique())
print(test['provincia'].unique().size)

['Ciudad de México' 'Yucatán' 'Guerrero' 'Estado de México' 'Jalisco'
 'Nuevo León' 'Veracruz' 'Quintana Roo' 'Querétaro' 'Puebla' 'Nayarit'
 'Chihuahua' 'Zacatecas' 'Morelos' 'Sinaloa' 'Guanajuato' 'Colima'
 'Tabasco' 'Oaxaca' 'San Luis Potosí' 'Baja California Norte' 'Tlaxcala'
 'Michoacán' 'Tamaulipas' 'Sonora' 'Hidalgo' 'Aguascalientes' 'Durango'
 'Coahuila' 'Chiapas' 'Baja California Sur' 'Campeche' nan]
33

##### Ahora se rellenan las coordenadas según ciudades con las coordenadas obtenidas previamente, por ciudad.

In [4]:
coord_ciudad = pd.read_csv('../data/info_coord_ciudades.csv', index_col='ciudades')

In [5]:
coord_ciudad.head(5)

                       lat         lng
ciudades
Querétaro        20.854258  -99.847560
Benito Juárez    20.816967  -98.178268
Zapopan          20.703205 -103.426124
San Luis Potosí  22.500000 -100.500000
Mérida           20.967076  -89.623740

In [7]:
test.isnull().sum()

ciudad          51
provincia       31
lat          30840
lng          30840
dtype: int64

In [8]:
test.loc[(test['lat'].isnull()) & (test['lng'].isnull())].isnull().sum()

ciudad          51
provincia       31
lat          30840
lng          30840
dtype: int64

##### Las coordenadas fantantes vienen de a pares.
##### Se ubican las filas con coordenadas faltantes y ciudades válidas.

In [12]:
indice4 = test.loc[(test['lat'].isnull()) & \
                   (test['lng'].isnull()) | \
                   (test['ciudad']).isnull()].dropna(subset=['ciudad']).index
# Se limpiaron las ciudades nulas
indice4.size

30789

# Se reemplazan los nulos con las coordenas por ciudad
##### Con esto se ocupan  las latitudes y longitudes de acuerdo a las ciudades no nulas (se usan los índices de ciudades no nulas). Para localizar la ciudad en el archivo de coordenadas, se busca la ciudad del train para ubicar el índice.

In [13]:
%%time
i=1
for index in indice4 :
    clear_output(wait=True)
    test.loc[index, 'lat'] = coord_ciudad.loc[test.loc[index, 'ciudad'], 'lat']
    test.loc[index, 'lng'] = coord_ciudad.loc[test.loc[index, 'ciudad'], 'lng']
    print(i, 'de', indice4.size)
    i = i + 1

30789 de 30789
CPU times: user 1min 46s, sys: 11 s, total: 1min 57s
Wall time: 1min 40s

In [14]:
test.isnull().sum()

ciudad       51
provincia    31
lat          51
lng          51
dtype: int64

In [18]:
test.loc[(test['lat'].isnull()) & \
          (test['lng'].isnull()) & \
          (~test['ciudad'].isnull())].isnull().sum()

ciudad       0
provincia    0
lat          0
lng          0
dtype: int64

##### Ya no hay ciudades válidas sin coordenadas.

##### Ahora se completan las coordenadas de las provincias vaálidas.

In [26]:
test.loc[(test['lat'].isnull()) & \
         (test['lng'].isnull()) & \
         (test['ciudad'].isnull()) & \
         (~test['provincia'].isnull())].shape

(20, 4)

##### Se pueden completar 20 coordenadas con las de las provincias.

In [27]:
coord_provincia = pd.read_csv('../data/info_coord_provincias.csv', index_col='provincias')

coord_provincia.head(5)

                        lat         lng
provincias
Ciudad de México  19.432601  -99.133342
Estado de México  19.483945  -99.689972
Jalisco           20.333333 -103.666667
Querétaro         20.854258  -99.847560
Nuevo León        26.238436  -99.887300

In [28]:
test.isnull().sum()

ciudad       51
provincia    31
lat          51
lng          51
dtype: int64

In [29]:
test.loc[(test['lat'].isnull()) & \
          (test['lng'].isnull())].isnull().sum()

ciudad       51
provincia    31
lat          51
lng          51
dtype: int64

##### Las coordenadas fantantes vienen de a pares.
##### Se ubican las filas con coordenadas faltantes y provincias válidas.

In [30]:
indice5 = test.loc[(test['lat'].isnull()) & \
          (test['lng'].isnull()) & \
          (test['ciudad'].isnull()) & \
          (~test['provincia'].isnull())].index
indice5.size

20

# Se reemplazan los nulos con las coordenas por provincia
##### Con esto se ocupan  las latitudes y longitudes de acuerdo a las provincias no nulas (se usan los índices de provincias no nulas). Para localizar la provincia en el archivo de coordenadas, se busca la provincia del train para ubicar el índice.

In [31]:
%%time
i=1
for index in indice5 :
    clear_output(wait=True)
    test.loc[index, 'lat'] = coord_provincia.loc[test.loc[index, 'provincia'], 'lat']
    test.loc[index, 'lng'] = coord_provincia.loc[test.loc[index, 'provincia'], 'lng']
    print(i, 'de', indice5.size)
    i = i + 1

20 de 20
CPU times: user 71.8 ms, sys: 3.77 ms, total: 75.5 ms
Wall time: 63.7 ms

In [32]:
test.isnull().sum()

ciudad       51
provincia    31
lat          31
lng          31
dtype: int64

### Se genera un Dataframe con las modas de ciudades por provincias.

In [33]:
moda_test = test.groupby('provincia').agg(lambda x:x.value_counts().index[0])
moda_test.drop(columns=['lat', 'lng'], inplace=True)
moda_test

                                    ciudad
provincia
Aguascalientes              Aguascalientes
Baja California Norte              Tijuana
Baja California Sur                 La Paz
Campeche                          Campeche
Chiapas                   Tuxtla Gutiérrez
Chihuahua                        Chihuahua
Ciudad de México             Benito Juárez
Coahuila                          Saltillo
Colima                              Colima
Durango                            Durango
Estado de México       Naucalpan de Juárez
Guanajuato                            León
Guerrero                Acapulco de Juárez
Hidalgo                            Pachuca
Jalisco                            Zapopan
Michoacán                          Morelia
Morelos                         Cuernavaca
Nayarit                              Tepic
Nuevo León                       Monterrey
Oaxaca                    Oaxaca de Juárez
Puebla                              Puebla
Querétaro                        Querétaro
Quintana Roo                        Cancún
San Luis Potosí            San Luis Potosí
Sinaloa                           Culiacán
Sonora                          Hermosillo
Tabasco                       Villahermosa
Tamaulipas                         Tampico
Tlaxcala                          Tlaxcala
Veracruz                      Boca del Río
Yucatán                             Mérida
Zacatecas                        Zacatecas

##### Se buscan las ciudades nulas, con coordenadas y provincias válidas.

In [34]:
indice6 = test.loc[(test['ciudad'].isnull()) & \
                    (~test['lat'].isnull()) & \
                    (~test['lng'].isnull()) & \
                    (~test['provincia'].isnull())].index
indice6.size

20

In [35]:
%%time
i=1
for index in indice6 :
    clear_output(wait=True)
    test.loc[index, 'ciudad'] = moda_test.loc[test.loc[index, 'provincia'], 'ciudad']
    print(i, 'de', indice6.size)
    i = i + 1

20 de 20
CPU times: user 85.6 ms, sys: 280 µs, total: 85.9 ms
Wall time: 75.2 ms

In [36]:
test.isnull().sum()

ciudad       31
provincia    31
lat          31
lng          31
dtype: int64

##### Ahora se rellena con la moda de provincia, ciudad y las coordenadas que corresponda a esa ciudad.

In [37]:
provincia_moda = test['provincia'].mode()[0]
provincia_moda

'Ciudad de México'

In [38]:
ciudad_moda = moda_test.loc[provincia_moda, 'ciudad']
ciudad_moda

'Benito Juárez'

In [39]:
latitud_moda = coord_ciudad.loc[ciudad_moda, 'lat']
longitud_moda = coord_ciudad.loc[ciudad_moda, 'lng']
print(longitud_moda)
print(latitud_moda)

-98.1782680664942
20.816966600000004

In [40]:
test['provincia'].fillna(provincia_moda, inplace=True)
test['ciudad'].fillna(ciudad_moda, inplace=True)
test['lat'].fillna(latitud_moda, inplace=True)
test['lng'].fillna(longitud_moda, inplace=True)

In [42]:
test.isnull().sum()

ciudad       0
provincia    0
lat          0
lng          0
dtype: int64

In [43]:
test.shape

(60000, 4)

In [44]:
test

                    ciudad         provincia        lat         lng
0           Miguel Hidalgo  Ciudad de México  19.408668  -99.246767
1                   Mérida           Yucatán  21.032480  -89.592424
2                 Coyoacán  Ciudad de México  19.332829  -99.152913
3       Acapulco de Juárez          Guerrero  16.860487  -99.878383
4                Tultitlán  Estado de México  19.640482  -99.127273
...                    ...               ...        ...         ...
59995  Venustiano Carranza  Ciudad de México  19.434821  -99.092517
59996  Ecatepec de Morelos  Estado de México  19.571797  -99.044535
59997            Guadalupe        Nuevo León  18.049756  -98.154940
59998            Querétaro         Querétaro  20.591773 -100.327615
59999              Zapopan           Jalisco  20.656012 -103.427092

[60000 rows x 4 columns]

In [45]:
test.to_csv('../data/features/ciudad_prov_lat_lng_V2_test.csv', index=False)

In [46]:
prueba = pd.read_csv('../data/features/ciudad_prov_lat_lng_V2_test.csv')
prueba

                    ciudad         provincia        lat         lng
0           Miguel Hidalgo  Ciudad de México  19.408668  -99.246767
1                   Mérida           Yucatán  21.032480  -89.592424
2                 Coyoacán  Ciudad de México  19.332829  -99.152913
3       Acapulco de Juárez          Guerrero  16.860487  -99.878383
4                Tultitlán  Estado de México  19.640482  -99.127273
...                    ...               ...        ...         ...
59995  Venustiano Carranza  Ciudad de México  19.434821  -99.092517
59996  Ecatepec de Morelos  Estado de México  19.571797  -99.044535
59997            Guadalupe        Nuevo León  18.049756  -98.154940
59998            Querétaro         Querétaro  20.591773 -100.327615
59999              Zapopan           Jalisco  20.656012 -103.427092

[60000 rows x 4 columns]