---
---
# Indicadores de NULLs
---
---

In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')

In [3]:
train.isnull().sum()

id                                 0
titulo                          5387
descripcion                     1619
tipodepropiedad                   46
direccion                      53072
ciudad                           372
provincia                        155
antiguedad                     43555
habitaciones                   22471
garages                        37765
banos                          26221
metroscubiertos                17400
metrostotales                  51467
idzona                         28621
lat                           123488
lng                           123488
fecha                              0
gimnasio                           0
usosmultiples                      0
piscina                            0
escuelascercanas                   0
centroscomercialescercanos         0
precio                             0
dtype: int64

In [4]:
test.isnull().sum()

id                                0
titulo                         1378
descripcion                     401
tipodepropiedad                   7
direccion                     13191
ciudad                           83
provincia                        42
antiguedad                    10714
habitaciones                   5628
garages                        9323
banos                          6554
metroscubiertos                4299
metrostotales                 12655
idzona                         7179
lat                           30695
lng                           30695
fecha                             0
gimnasio                          0
usosmultiples                     0
piscina                           0
escuelascercanas                  0
centroscomercialescercanos        0
dtype: int64

### Ambos set de datos tienen las mismas features con valores nulos.

In [5]:
is_null_train = train.loc[:, 'tipodepropiedad':'lng'].isnull().astype(np.uint8)
is_null_train = is_null_train.add_suffix('_null')
is_null_train.head(2)

,tipodepropiedad_null,direccion_null,ciudad_null,provincia_null,antiguedad_null,habitaciones_null,garages_null,banos_null,metroscubiertos_null,metrostotales_null,idzona_null,lat_null,lng_null
0,0,0,0,0,1,0,0,0,0,0,0,1,1
1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
is_null_test = test.loc[:, 'tipodepropiedad':'lng'].isnull().astype(np.uint8)
is_null_test = is_null_test.add_suffix('_null')
is_null_test.head(2)

,tipodepropiedad_null,direccion_null,ciudad_null,provincia_null,antiguedad_null,habitaciones_null,garages_null,banos_null,metroscubiertos_null,metrostotales_null,idzona_null,lat_null,lng_null
0,0,0,0,0,0,0,1,0,0,1,1,0,0
1,0,1,0,0,1,0,0,0,0,0,0,0,0

In [7]:
export_csv = is_null_train.to_csv('../data/features/is_null_train.csv', index=False)
export_csv = is_null_test.to_csv('../data/features/is_null_test.csv', index=False)