In [1]:
import geocoder
import pandas as pd
from utilidades.spell_checking import obtener_correccion

In [ ]:
train = pd.read_csv("../data/train.csv")

In [2]:
test = pd.read_csv("../../data/test.csv")

In [20]:
ciudades_corregidas = {}

for ciudad in train["ciudad"].dropna().unique():
    correccion = obtener_correccion(ciudad)
    ciudades_corregidas[ciudad] = correccion

In [3]:
ciudades_corregidas_t = {}

for ciudad in test["ciudad"].dropna().unique():
    correccion = obtener_correccion(ciudad)
    ciudades_corregidas_t[ciudad] = correccion

In [68]:
poblaciones = {}

for ciudad in ciudades_corregidas:
    g = geocoder.geonames(ciudades_corregidas[ciudad], key='komod0', country="MX", featureClass="P")
    if g.json is not None:
        poblaciones[ciudad] = g.json["raw"]["population"]
    else:
        poblaciones[ciudad] = 0

In [4]:
poblaciones_t = {}

for ciudad in ciudades_corregidas_t:
    g = geocoder.geonames(ciudades_corregidas_t[ciudad], key='komod0', country="MX", featureClass="P")
    if g.json is not None:
        poblaciones_t[ciudad] = g.json["raw"]["population"]
    else:
        poblaciones_t[ciudad] = 0

In [69]:
a = {"ciudad": list(poblaciones.keys()), "poblacion": list(poblaciones.values())}
df_pob = pd.DataFrame(a)

In [7]:
a = {"ciudad": list(poblaciones_t.keys()), "poblacion": list(poblaciones_t.values())}
df_pob_t = pd.DataFrame(a)

In [29]:
df_pob_t.loc[544, "poblacion"] = 6196

In [30]:
df_pob_t[df_pob_t["poblacion"] == 0]

Empty DataFrame
Columns: [ciudad, poblacion]
Index: []

In [31]:
df_pob.describe()

          poblacion
count  5.760000e+02
mean   1.313074e+05
std    2.680777e+05
min    0.000000e+00
25%    6.883250e+03
50%    2.290100e+04
75%    9.789250e+04
max    1.815786e+06

In [32]:
df_pob.loc[df_pob["poblacion"].idxmax()]

ciudad       Iztapalapa
poblacion       1815786
Name: 29, dtype: object

In [127]:
df_pob.to_csv("../data/poblacion_de_cada_ciudad.csv", index=False)

In [34]:
df_pob_t.to_csv("../data/poblacion_de_cada_ciudad_en_el_test.csv", index=False)