In [1]:
import pandas as pd

train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
ejemplo = pd.read_csv("data/ejemploRespuesta.csv")

In [2]:
pd.set_option('display.max_columns', 23) #ver todas las columnas
pd.set_option('display.max_rows', 10) #como mucho ver 10 filas

In [18]:
### Train: es para entrenar el algoritmo
### Test: es para subir las predicciones

### El ejemplo de respuesta parece tener una fila como índice

In [17]:
ejemplo

         4941  4200756.25126322
0       51775      1.112322e+06
1      115253      1.377424e+06
2      299321      1.364169e+06
3      173570      1.284638e+06
4       30862      2.411320e+06
...       ...               ...
59994   75094      4.081461e+06
59995  171847      1.165343e+06
59996  138313      1.576250e+06
59997  271268      1.947392e+06
59998   72612      3.021054e+06

[59999 rows x 2 columns]