In [1]:
import numpy as np
import pandas as pd

In [2]:
# Solo se carga para muestra de features y feature_names.
train_sample = pd.read_csv('data/train.csv', index_col='id', parse_dates=['fecha'], nrows=1)

print(train_sample.columns)
print(train_sample.shape)
display(train_sample)

Index(['titulo', 'descripcion', 'tipodepropiedad', 'direccion', 'ciudad',
       'provincia', 'antiguedad', 'habitaciones', 'garages', 'banos',
       'metroscubiertos', 'metrostotales', 'idzona', 'lat', 'lng', 'fecha',
       'gimnasio', 'usosmultiples', 'piscina', 'escuelascercanas',
       'centroscomercialescercanos', 'precio'],
      dtype='object')
(1, 22)

,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,banos,...,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
id,,,,,,,,,,,,,,,,,,,,,
254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,NaN,2.0,1.0,2.0,...,23533.0,NaN,NaN,2015-08-23,0.0,0.0,0.0,0.0,0.0,2273000.0

In [3]:
# Se eligen las columnas numéricas y luego se analizan los nulos.
columnas = ['id', 'lat', 'lng', 'metrostotales', 'metroscubiertos', 'antiguedad',\
            'habitaciones', 'garages', 'banos', 'gimnasio', 'usosmultiples', \
            'piscina', 'escuelascercanas', 'centroscomercialescercanos']
train = pd.read_csv('data/train.csv', index_col='id', usecols=columnas)
target = pd.read_csv('data/train.csv', index_col='id', usecols=['id', 'precio'])

In [4]:
print(train.isnull().sum())
print(target.isnull().sum())

antiguedad                     43555
habitaciones                   22471
garages                        37765
banos                          26221
metroscubiertos                17400
metrostotales                  51467
lat                           123488
lng                           123488
gimnasio                           0
usosmultiples                      0
piscina                            0
escuelascercanas                   0
centroscomercialescercanos         0
dtype: int64
precio    0
dtype: int64