In [21]:
import pandas as pd

train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
ejemplo = pd.read_csv("data/ejemploRespuesta.csv")

In [11]:
pd.set_option('display.max_columns', 23) #ver todas las columnas
pd.set_option('display.max_rows', 10) #como mucho ver 10 filas

### El ejemplo de respuesta parece tener una fila como índice

In [12]:
#ejemplo

         4941  4200756.25126322
0       51775      1.112322e+06
1      115253      1.377424e+06
2      299321      1.364169e+06
3      173570      1.284638e+06
4       30862      2.411320e+06
...       ...               ...
59994   75094      4.081461e+06
59995  171847      1.165343e+06
59996  138313      1.576250e+06
59997  271268      1.947392e+06
59998   72612      3.021054e+06

[59999 rows x 2 columns]

### Es extraño que los valores sean flotantes: ya se sabe que los precios de las propiedades son enteros, y sus últimos 3 dígitos menos representativos son siempre 0 (de acuerdo al dataset de entrenamiento) 

### Por otra parte los índices no parecen ser los de la propiedad, pero se entendería que sí pueden utilizarse los índices de la propiedad para los sets de respuesta

In [20]:
train[ train['id'] == 138313 ]

Empty DataFrame
Columns: [id, titulo, descripcion, tipodepropiedad, direccion, ciudad, provincia, antiguedad, habitaciones, garages, banos, metroscubiertos, metrostotales, idzona, lat, lng, fecha, gimnasio, usosmultiples, piscina, escuelascercanas, centroscomercialescercanos, precio]
Index: []

### El csv de test es un archivo de 60 000 propiedades (25% del dataset original) que no tiene el precio de la propiedad

In [29]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 22 columns):
id                            60000 non-null int64
titulo                        58622 non-null object
descripcion                   59599 non-null object
tipodepropiedad               59993 non-null object
direccion                     46809 non-null object
ciudad                        59917 non-null object
provincia                     59958 non-null object
antiguedad                    49286 non-null float64
habitaciones                  54372 non-null float64
garages                       50677 non-null float64
banos                         53446 non-null float64
metroscubiertos               55701 non-null float64
metrostotales                 47345 non-null float64
idzona                        52821 non-null float64
lat                           29305 non-null float64
lng                           29305 non-null float64
fecha                         60000 non-null object
gimnasio                      60000 non-null float64
usosmultiples                 60000 non-null float64
piscina                       60000 non-null float64
escuelascercanas              60000 non-null float64
centroscomercialescercanos    60000 non-null float64
dtypes: float64(14), int64(1), object(7)
memory usage: 10.1+ MB